<%- include("../partials/header_eng")%>

<div class="container-fluid">
	<div class="container">
		<h1>
			Who are we
		</h1>
		<p>
			The Studio Odontoiatrico Associato Dr. M. e M. Licata is born on the **** (........)
		</p>
		<h3>
			Meet our Specialists
		</h3>
		<div class="row justify-content-around">
			<% staff.forEach(function(staff){%>
			<div >
				<div class="card" style="width: 20rem;">
					<img src="<%=staff.img%>">
					<div class="card-body">
						<h5 class="card-title"><%=staff.name%></h5>
						<p class="card-text">descrizione 20 caratteri +- </p>
						<a href="/staff/<%=staff._id%>" class="btn btn-primary">More Info</a>
					</div>
				</div>
			</div>
			<% }) %>	
		</div>
	</div>
</div>

<%- include("../partials/footer_eng")%>